<<<<<<< HEAD
=======
:root {
  --clr-vine: #000000;

  --clr-bg-main: var(--clr-vine);
}

>>>>>>> 1c651e65b037d71af006da490418801f5452ae91
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Login {
  display: flex;
  align-items: center;
  width: 45%;
  height: 300px;
}

.MatrixParallax-fullWindow-keni91 {
  z-index: -1;
}
