:root {
  --color-primary: #447604;
  --color-secondary: #6CC551;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0;
  background: rgb(97, 153, 26);
  background: radial-gradient(
    circle,
    rgba(97, 153, 26, 1) 0%,
    rgba(68, 118, 4, 1) 52%,
    rgba(94, 154, 19, 1) 100%
  );
  font-family: "Press Start 2P", cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mdc-text-field {
  background: red;
  color: red;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #171A1E; 
    border-radius: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

